*.pyc
config15/
config17/
config15/test_all_class.txt
result15/HGG/brats_tcia_pat274_0001.nii.gz
config15/test_all_class.txt
config15/test_wt.txt
config15/train_en_ax.txt
config15/train_en_cr.txt
config15/train_en_sg.txt
config15/train_tc_ax.txt
config15/train_tc_cr.txt
config15/train_tc_sg.txt
config15/train_wt_ax.txt
config15/train_wt_cr.txt
config15/train_wt_sg.txt
result15/test_time.txt
result15/HGG/brats_2013_pat0002_1.nii.gz
result15/HGG/brats_2013_pat0022_1.nii.gz
result15/HGG/brats_2013_pat0024_1.nii.gz
result15/HGG/brats_tcia_pat105_0001.nii.gz
result15/HGG/brats_tcia_pat138_0001.nii.gz
result15/HGG/brats_tcia_pat156_0001.nii.gz
result15/HGG/brats_tcia_pat157_0001.nii.gz
result15/HGG/brats_tcia_pat165_0001.nii.gz
result15/HGG/brats_tcia_pat170_0002.nii.gz
result15/HGG/brats_tcia_pat171_0780.nii.gz
result15/HGG/brats_tcia_pat171_0950.nii.gz
result15/HGG/brats_tcia_pat178_0002.nii.gz
result15/HGG/brats_tcia_pat180_0001.nii.gz
result15/HGG/brats_tcia_pat193_0002.nii.gz
result15/HGG/brats_tcia_pat198_0283.nii.gz
result15/HGG/brats_tcia_pat199_0001.nii.gz
result15/HGG/brats_tcia_pat205_0001.nii.gz
result15/HGG/brats_tcia_pat230_0637.nii.gz
result15/HGG/brats_tcia_pat247_0001.nii.gz
result15/HGG/brats_tcia_pat257_0001.nii.gz
result15/HGG/brats_tcia_pat277_0001.nii.gz
result15/HGG/brats_tcia_pat278_0001.nii.gz
result15/HGG/brats_tcia_pat314_0001.nii.gz
result15/HGG/brats_tcia_pat332_0001.nii.gz
result15/HGG/brats_tcia_pat372_0001.nii.gz
result15/HGG/brats_tcia_pat374_0356.nii.gz
result15/HGG/brats_tcia_pat374_0557.nii.gz
result15/HGG/brats_tcia_pat374_0909.nii.gz
result15/HGG/brats_tcia_pat396_0117.nii.gz
result15/HGG/brats_tcia_pat396_0217.nii.gz
result15/HGG/brats_tcia_pat399_0002.nii.gz
result15/HGG/brats_tcia_pat399_0156.nii.gz
result15/HGG/brats_tcia_pat399_0479.nii.gz
result15/HGG/brats_tcia_pat399_0527.nii.gz
result15/HGG/brats_tcia_pat399_0595.nii.gz
result15/HGG/brats_tcia_pat406_0001.nii.gz
result15/HGG/brats_tcia_pat417_0001.nii.gz
result15/HGG/brats_tcia_pat444_0001.nii.gz
result15/HGG/brats_tcia_pat447_0122.nii.gz
result15/HGG/brats_tcia_pat447_0313.nii.gz
result15/HGG/brats_tcia_pat455_0001.nii.gz
result15/HGG/brats_tcia_pat473_0001.nii.gz
result15/LGG/brats_2013_pat0006_1.nii.gz
result15/LGG/brats_2013_pat0014_1.nii.gz
result15/LGG/brats_tcia_pat141_0001.nii.gz
result15/LGG/brats_tcia_pat299_0001.nii.gz
result15/LGG/brats_tcia_pat351_0001.nii.gz
result15/LGG/brats_tcia_pat393_0001.nii.gz
result15/LGG/brats_tcia_pat428_0001.nii.gz
config15/test_all_class.txt
config15/test_wt.txt
config15/train_en_ax.txt
config15/train_en_cr.txt
config15/train_en_sg.txt
config15/train_tc_ax.txt
config15/train_tc_cr.txt
config15/train_tc_sg.txt
config15/train_wt_ax.txt
config15/train_wt_cr.txt
config15/train_wt_sg.txt
config15/test_all_class.txt
